@model ProductCreateVM
@{
    ViewData["Title"] = "Create";
}
<!-- Basic Form Inputs card start -->
<div class="container">
    <div class="card">
        <div class="card-block">
            <h4 class="sub-title">Category</h4>
            <form class="forms-sample" method="post" asp-action="Create" enctype="multipart/form-data">
                <div class="form-group row">
                    <div class="col-sm-10">
                        <label for="exampleInputUsername1">Name</label>
                        <input asp-for="Name" class="form-control" id="examampleInputUsername1">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                    <div class="col-sm-10">
                        <label for="exampleInputUsername1">Description</label>
                        <input asp-for="Description" class="form-control" id="examampleInputUsername1">
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>

                    <div class="col-sm-10">
                        <label for="exampleInputUsername1">Price</label>
                        <input asp-for="Price" type="number" class="form-control" step="any" min="0" id="examampleInputUsername1">
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>

                    <div class="col-sm-10">
                        <label for="exampleInputUsername1">Category</label>
                        <select asp-for="CategoryId" asp-items="@ViewBag.categories" class="form-control"></select>
                    </div>
                    <div class="col-sm-10">
                        <label for="exampleInputUsername1">Image</label>
                        <input class="form-control" asp-for="Images" id="examampleInputUsername1">
                        <span asp-validation-for="Images" class="text-danger"></span>
                    </div>
                    <button type="submit" class=" btn btn-primary mr-2" style="height:50px">Submit</button>
                    <a class=" btn btn-light" style="height:50px" asp-action="Index">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Basic Form Inputs card end --> 

